# Dolanan Data #3

**Dolanan Data #3** ini hadir dengan tema **Preprocessing Data: Excel vs Python**. Kita akan mencoba melakukan preprocessing dan mengolah data secara paralel antara Python dengan library Pandas dan kita akan melihat padanannya yang dilakukan menggunakan Microsoft Excel.

Dataset yang digunakan adalah open data mengenai **Daftar Harga Komoditas Bahan Pokok di Pasar Sederhana Tahun 2020** yang diambil dari website Open Data Kota Bandung (http://data.bandung.go.id/dataset/daftar-harga-komoditas-bahan-pokok-di-pasar-sederhana-tahun-2020/resource/349b9246-4e07-4d77-8b46-27c6d1a1e564). <br/>
Data ini berisi kolom :
- Lokasi
- Nama komoditas
- Harga komoditas harian

Kita akan melakukan cleaning data dan menyesuaikan bentuk data menjadi data tabular agar bisa ditampilkan/divisualisasikan menggunakan line plot agar kita mendapatkan insight dari data tersebut.

Peserta diharapkan mengikuti tutorial dan mengganti "..." menjadi perintah yang sesuai pada line-line code-code di bawah ini agar proses bisa berjalan secara semestinya.

## Import Library

In [ ]:
import ... as pd
import ... as np

## Import Dataset

### Import Dataset dan Explore

In [ ]:
#Untuk melihat data apa saja yang ada di folder kita berada saat ini
!dir

In [ ]:
#Import dataset dalam bentuk file CSV
df = pd.read_csv("...")

In [ ]:
#Menghilangkan batas jumlah maksimal tampilan kolom dari tabel pada Pandas
pd.set_option("display....", None)

In [ ]:
#Melihat ukuran dari tabel yang diimport (baris, kolom)
df....

In [ ]:
#Menampilkan tabel
df

In [ ]:
#Menampilkan informasi dari tabel
df....()

In [ ]:
#Menampilkan nilai statistik deskriptif dari tabel untuk masing-masing kolom
df....()

### Mengganti data dengan nilai 0 jadi cell kosong

In [ ]:
#Mengganti nilai 0 menjadi NaN (missing value) agar bisa diimputasi lebih mudah
df....(0, np.nan, inplace = True)

In [ ]:
df

In [ ]:
df....()

In [ ]:
df....()

## Memeriksa Missing Value pada Dataframe

### Memeriksa Missing Value pada Baris Mana

In [ ]:
df....

In [ ]:
#Melihat kolom mana saja yang mengandung nilai missing value
df....().sum()

In [ ]:
#Melihat baris mana saja yang mengandung nilai missing value
df....().sum(...)

In [ ]:
#Melihat baris mana saja yang semuanya mengandung nilai missing value
df....().sum(...)==...

In [ ]:
#Menghitung jumlah baris yang semuanya mengandung nilai missing value
(df....().sum(...)==...).sum()

In [ ]:
#Melihat/menampilkan baris yang semuanya mengandung nilai missing value
df....[[..., ...], :]

#### Menghapus/drop kolom missing value dengan cara slicing

In [ ]:
#Menghapus/drop baris yang mengandung nilai missing value (baris 16 dan 19)
df.drop([..., ...], axis = ..., inplace = True)

In [ ]:
df....

### Memeriksa Missing Value pada Kolom Mana

In [ ]:
df....().sum()

In [ ]:
#Melihat kolom mana saja yang mengandung nilai missing value
df....().sum()==...

In [ ]:
#Menghitung jumlah kolom yang semuanya mengandung nilai missing value
(df....().sum()==...).sum()

In [ ]:
df.head()

In [ ]:
#Melihat/menampilkan kolom yang semuanya mengandung nilai missing value
df....[:, [..., ..., ..., ..., ..., ...]]

#### Menghapus/drop kolom missing value dengan cara slicing

In [ ]:
#Melihat kolom mana saja yang tidak semuanya mengandung nilai missing value dan mengubahknya menjadi bentuk list
(df....().sum()!=...).to_list()

In [ ]:
#Menghapus/drop kolom yang semuanya mengandung nilai missing value
#dengan cara slicing kolom yang tidak semuanya mengandung nilai missing value
df2 = df....[:, (df....().sum()!=...).to_list()]

In [ ]:
df2

In [ ]:
df2.shape

### Memeriksa Missing Value Sisanya

In [ ]:
df2....().sum()

In [ ]:
#Menghitung jumlah kolom yang masih mengandung nilai missing value
(df2....().sum()).sum()

In [ ]:
#Melihat/menampilkan kolom yang masih mengandung nilai missing value
df2.iloc[:, [..., ..., ..., ...]]

In [ ]:
#Melihat/menampilkan baris lainnya yang masih mengandung nilai missing value
df2.iloc[[...]]

In [ ]:
#Melihat/menampilkan cell yang masih mengandung nilai missing value
df2.iloc[..., [..., ...]]

#### Melakukam imputasi pada cell missing value dengan nilai median dari barisnya

In [ ]:
#Menghitung nilai median dari baris dimana nilai missing value berada
df2.iloc[[...]].median(...)

In [ ]:
#Melakukan imputasi dengan nilai median dari baris
df2.iloc[..., [...]] = df2.iloc[[...]].median(...)
df2.iloc[..., [...]] = df2.iloc[[...]].median(...)

In [ ]:
df2....[[...]]

In [ ]:
df2....().sum()

In [ ]:
df2

In [ ]:
df2.shape

## Menambah Kolom Kategori ke Dataframe Menggunakan Merge Dataframe

In [ ]:
!dir

In [ ]:
#Import dataset tambahan dalam bentuk file CSV untuk digabungkan dengan dataframe utama
df_kat = pd.read_csv("...")

In [ ]:
df_kat

In [ ]:
df_kat.shape

In [ ]:
#Menampilkan nilai kategori apa saja yang ada di kolom 'Kategori'
df_kat['...'].unique()

In [ ]:
#Menghitung jumlah data pada masing-masing nilai kategori yang ada di kolom 'Kategori'
df_kat['...'].groupby(df_kat['...']).count()

In [ ]:
#Menghitung jumlah data pada masing-masing nilai kategori beserta nama komoditasnya
df_kat['...'].groupby(df_kat['...']).value_counts()

In [ ]:
#Memisahkan kolom 'Kategori' dan 'nama_komunitas' dari dataframenya
df_kat[['...', '...']]

In [ ]:
#Membuat dataframe baru yang menggabungkan dataframe 'pasar-sederhana-01-2020' yang sudah dicleaning
#dengan dataframe 'kategori-komoditas-pasar-sederhana' menjadi dataframe full
df_full = pd.merge(df2, df_kat[['...', '...']], on = '...')

In [ ]:
df_full

In [ ]:
df_full.describe()

In [ ]:
df_full.shape

## Merapikan Dataframe Baru

In [ ]:
#Menampilkan judul kolom/variabel dalam bentuk list
list(df_full)

In [ ]:
#Mengatur urutan judul kolom/variabel pada dataframe (kolom 'Kategori' dipindahkan ke awal-awal)
df_full = df_full[[...]]

In [ ]:
#Mengubah nama kolom pada dataframe
df_full....(columns={'lokasi':'...'}, inplace=True)
df_full....(columns={'nama_komoditas':'...'}, inplace=True)

In [ ]:
df_full.head()

In [ ]:
df_full.info()

## Membuat Data Tabular untuk Kategori

In [ ]:
#Melakukan agregasi atau mengelompokkan nilai 'nama_komoditas' berdasarkan 'Kategori'
#dengan nilai rata-ratanya
df_full.groupby(df_full['...']).mean()

In [ ]:
#Menyimpan hasil agregasi atau pengelompokan nilai 'nama_komoditas' berdasarkan 'Kategori'
#menjadi dataframe yang baru
df_group_kat = df_full.groupby(df_full['...']).mean()

In [ ]:
df_group_kat

In [ ]:
df_group_kat.shape

In [ ]:
#Melakukan transpose dataframe yang baru (hasil agregasi) agar nilai-nilai di kolom 'Kategori'
#menjadi kolom/variabel dataframenya
df_tab_kat = df_group_kat....(copy = True)

In [ ]:
df_tab_kat

In [ ]:
df_tab_kat.shape

In [ ]:
#Mengubah nama tema/judul kolom/variabel pada dataframe
df_tab_kat.....name = ''
df_tab_kat.....name

In [ ]:
#Mengubah nama judul tema/judul baris/index pada dataframe
df_tab_kat.....name = 'Tanggal'
df_tab_kat.....name

In [ ]:
df_tab_kat

In [ ]:
df_tab_kat.info()

In [ ]:
df_tab_kat.describe()

In [ ]:
#Menyimpan dataframe menjadi dataset dengan format CSV
df_tab_kat.to_csv('...', index = True)

## Membuat Line Plot dari Data Tabular untuk Kategori

In [ ]:
import ....pyplot as plt
import ... as sns
plt.style.use('...')

In [ ]:
list(df_tab_kat)

In [ ]:
#Menampilkan judul baris/index dalam bentuk list
list(df_tab_kat....)

In [ ]:
#Melihat tipe/jenis data di dalam list dari judul baris/index
type(list(df_tab_kat....)[1])

In [ ]:
#Mengubah tipe/jenis data dari judul baris/index menjadi format tanggal
pd.Series(pd.to_datetime(df_tab_kat....))

In [ ]:
#Mengekstrak tanggal/nomor hari dari judul baris/index yang sudah berformat tanggal
pd.Series(pd.to_datetime(df_tab_kat....)).dt.day

In [ ]:
pd.Series(pd.to_datetime(df_tab_kat....)).dt.day.shape

In [ ]:
#Menampilkan line plot dari salah satu kolom/variabel
sns.lineplot(x = pd.Series(pd.to_datetime(df_tab_kat....)).dt.day,
             y = df_tab_kat['...']...., label = '...')

In [ ]:
#Menampilkan nilai dari salah satu kolom/variabel dalam bentuk series
df_tab_kat['...']

In [ ]:
#Menampilkan nilai dari salah satu kolom/variabel dalam bentuk array
df_tab_kat['...']....

In [ ]:
#Menampilkan line plot dari semua kolom/variabel
sns.lineplot(x = pd.Series(pd.to_datetime(df_tab_kat....)).dt.day,
             y = df_tab_kat['...']...., label = '...')
sns.lineplot(x = pd.Series(pd.to_datetime(df_tab_kat....)).dt.day,
             y = df_tab_kat['...']...., label = '...')
sns.lineplot(x = pd.Series(pd.to_datetime(df_tab_kat....)).dt.day,
             y = df_tab_kat['...']...., label = '...')
sns.lineplot(x = pd.Series(pd.to_datetime(df_tab_kat....)).dt.day,
             y = df_tab_kat['...']...., label = '...')
sns.lineplot(x = pd.Series(pd.to_datetime(df_tab_kat....)).dt.day,
             y = df_tab_kat['...']...., label = '...')
plt.ylim((..., ...))
plt.legend()
plt.show();

In [ ]:
df_kat['...'].groupby(df_kat['...']).value_counts()